@font-face {
  font-family: 'Manrope';
  src: url('/fonts/Manrope/Manrope-Bold.woff2') format('woff2'),
    url('/fonts/Manrope/Manrope-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src: url('/fonts/Manrope/Manrope-Medium.woff2') format('woff2'),
    url('/fonts/Manrope/Manrope-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@import './hero';
@import './main';
@import './footer';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Manrope', sans-serif;
  font-size: 13px;
}

.wrapper{
  display: grid;
  place-content: center;

  max-width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: rgb(236, 242, 248);
  padding: 0 20px;
}
.card{
  max-width: 325px;
  min-height: 510px;
  background-color: #fff;
}
.container{
  padding: 0 20px;
}